.Header__Row__Column {}


.Content__Row__Column__Logo--size {
  width: 50px;
  height: 50px;
}

.Content__Row__Column__Logo--background-color {
  background-color: purple;
}

.Content__Row__Column__Logo__Text--white {
  color: white;
}


.Footer__Row__Column {}